<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart Rate and Oxygen Monitor</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .chart-container {
            width: 400px;
            height: 400px;
            margin: 20px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #patientForm {
            text-align: center;
            margin-top: 20px;
        }
        #monitoringSection {
            display: none;
        }
        .charts-flex-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        h1 {
            font-size: 2.5em;
        }
        .chart-title {
            font-size: 1.5em;
            margin: 10px 0;
        }
        .fa-heartbeat, .fa-lungs {
            font-size: 2em;
        }
    </style>
</head>
<body>
    <div id="patientForm">
        <label for="patientName">Enter Patient's Name:</label>
        <input type="text" id="patientName" name="patientName">
        <button onclick="startMonitoring()">Start Monitoring</button>
    </div>
    <div id="monitoringSection">
        <h1>Patient: <span id="patientNameDisplay"></span></h1>
        <div class="charts-flex-container">
            <div class="chart-container">
                <i class="fas fa-heartbeat"></i>
                <div class="chart-title">Heart Rate</div>
                <canvas id="heartRateChart"></canvas>
            </div>
            <div class="chart-container">
                <i class="fas fa-lungs"></i>
                <div class="chart-title">Oxygen Level</div>
                <canvas id="oxygenLevelChart"></canvas>
            </div>
        </div>
    </div>

    <script>
        function startMonitoring() {
            var patientName = document.getElementById('patientName').value;
            document.getElementById('patientNameDisplay').innerText = patientName;
            document.getElementById('patientForm').style.display = 'none';
            document.getElementById('monitoringSection').style.display = 'block';
            initCharts();
        }
    
        function initCharts() {
            const heartRateCtx = document.getElementById('heartRateChart').getContext('2d');
            new Chart(heartRateCtx, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        label: 'Heart Rate',
                        data: [75, 125], // 75 es el valor actual, 125 es el valor restante hasta 200
                        backgroundColor: ['rgb(255, 99, 132)', 'rgba(255, 99, 132, 0.1)'],
                    }],
                },
                options: {
                    circumference: 180,
                    rotation: -90,
                    cutout: '80%',
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    // Personaliza el texto del tooltip
                                    if (context.datasetIndex === 0 && context.dataIndex === 0) { // Asegura que solo se modifique para el valor principal
                                        return `Heart Rate: ${context.raw}`;
                                    }
                                }
                            }
                        }
                    }
                }
            });
    
            const oxygenLevelCtx = document.getElementById('oxygenLevelChart').getContext('2d');
            new Chart(oxygenLevelCtx, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        label: 'Oxygen Level',
                        data: [98, 2], // 98 es el valor actual, 2 es el valor restante hasta 100
                        backgroundColor: ['rgb(54, 162, 235)', 'rgba(54, 162, 235, 0.1)'],
                    }],
                },
                options: {
                    circumference: 180,
                    rotation: -90,
                    cutout: '80%',
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    // Personaliza el texto del tooltip
                                    if (context.datasetIndex === 0 && context.dataIndex === 0) { // Asegura que solo se modifique para el valor principal
                                        return `Oxygen Level: ${context.raw}`;
                                    }
                                }
                            }
                        }
                    }
                }
            });
        }
    </script>
    
</body>
</html>
